.container {
    max-width: 1920px;
    margin: 0 auto;
}

.grid {
    &__cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;

        @include respond(desktop) {
            gap: 1.5rem;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}